<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>信息技术中心竞技场</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/style.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body>
	<div id="page-container" class="page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<div class="container-fluid bodyWidth">
				<div class="navbar-header logoBox">
					<a href="index.html" class="navbar-brand"></a>
				</div>
				<div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home">首页</a></li>
                        <li><a href="#about">题库</a></li>
                        <li><a href="#team">龙虎榜</a></li>
						<li class="dropdown navbar-user" style="margin-left:80px;">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
								<img src="assets/img/user-12.jpg" alt=""> 
								<span class="hidden-xs">美国总统</span>
							</a>
						</li>
						<li><a href="#team">退出</a></li>
                    </ul>
                </div>
			</div>
		</div>
		<!-- end #header -->		
		<!-- begin #content -->
		<div id="content" class="content bodyWidth m-auto">
			<h2 class="content-title">精彩题库</h2>
			<!-- begin row -->
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-stats bg-green">
						<div class="stats-icon"><i class="fa fa-desktop"></i></div>
						<div class="stats-info">
							<h4>专业基础类</h4>
							<p>30%</p>	
						</div>
						<div class="stats-link">
							<a href="library.html">查看详情 <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
						<div class="stats-info">
							<h4>算法设计</h4>
							<p>20.44%</p>	
						</div>
						<div class="stats-link">
							<a href="library.html">查看详情 <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-stats bg-purple">
						<div class="stats-icon"><i class="fa fa-users"></i></div>
						<div class="stats-info">
							<h4>奇思妙想</h4>
							<p>25.44%</p>	
						</div>
						<div class="stats-link">
							<a href="library.html">查看详情 <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-stats bg-red">
						<div class="stats-icon"><i class="fa fa-clock-o"></i></div>
						<div class="stats-info">
							<h4>登峰造极</h4>
							<p>10.44%</p>	
						</div>
						<div class="stats-link">
							<a href="library.html">查看详情 <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
			</div><!-- end row -->
			<h2 class="content-title"><a href="topList.html">技术大咖</a></h2>
			<div class="row">
				<!-- begin col-4 -->
				<div class="col-md-3 col-sm-3">
					<!-- begin team -->
					<div class="team">             
						<div class="image flipInX contentAnimated" data-animation="true" data-animation-type="flipInX">
							<img src="assets/img/user-1.jpg" alt="Ryan Teller">
						</div>
						<div class="info">
							<h3 class="name">吴孟达</h3>
							<div class="title text-theme">JAVA工程师</div>
							<p>10年java开发,性格豪爽,善于解决项目中的各种疑难杂症.名副其实的技术大咖</p>
						</div>                     
					</div>
					<!-- end team -->
				</div>
				<!-- end col-4 -->
				<!-- begin col-4 -->
				<div class="col-md-3 col-sm-3">
					<!-- begin team -->
					<div class="team">             
						<div class="image flipInX contentAnimated" data-animation="true" data-animation-type="flipInX">
							<img src="assets/img/user-2.jpg" alt="Jonny Cash">
						</div>
						<div class="info">
							<h3 class="name">日本首相</h3>
							<div class="title text-theme">测试工程师</div>
							<p>效力公司10年,产品线上的尖兵,测试手段诡异莫测，测试界专家级人物</p>
						</div>                     
					</div>
					<!-- end team -->
				</div>
				<!-- end col-4 -->
				<!-- begin col-4 -->
				<div class="col-md-3 col-sm-3">
					<!-- begin team -->
					<div class="team">             
						<div class="image flipInX contentAnimated" data-animation="true" data-animation-type="flipInX">
							<img src="assets/img/user-3.jpg" alt="Mia Donovan">
						</div>
						<div class="info">
							<h3 class="name">美国总统</h3>
							<div class="title text-theme">php高级工程师</div>
							<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. </p>
						</div>                     
					</div>
					<!-- end team -->
				</div>
				<!-- end col-4 -->
				<!-- begin col-4 -->
				<div class="col-md-3 col-sm-3">
					<!-- begin team -->
					<div class="team">             
						<div class="image flipInX contentAnimated" data-animation="true" data-animation-type="flipInX">
							<img src="assets/img/user-4.jpg" alt="Mia Donovan">
						</div>
						<div class="info">
							<h3 class="name">美国总统</h3>
							<div class="title text-theme">php高级工程师</div>
							<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. </p>
						</div>                     
					</div>
					<!-- end team -->
				</div>
				<!-- end col-4 -->
			</div>
		</div>
		<!-- end #content -->

		<div class="header navbar navbar-inverse text-center lineHeight50" style="margin-top:20px; line-height:50px;">
			<span>copyright 123445</span>
		</div>
	</div>
</body>
</html>
