<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>信息技术中心竞技场</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/style.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body>
	<div id="page-container" class="page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<div class="container-fluid bodyWidth">
				<div class="navbar-header logoBox">
					<a href="index.html" class="navbar-brand"></a>
				</div>
				<div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home">首页</a></li>
                        <li class="active"><a href="#about">题库</a></li>
                        <li><a href="#team">龙虎榜</a></li>
						<li class="dropdown navbar-user" style="margin-left:80px;">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
								<img src="assets/img/user-12.jpg" alt=""> 
								<span class="hidden-xs">美国总统</span>
							</a>
						</li>
						<li><a href="#team">退出</a></li>
                    </ul>
                </div>
			</div>
		</div>
		<!-- end #header -->		
		<!-- begin #content -->
		<div id="content" class="content bodyWidth m-auto">
			<h1 class="page-header mrt30">专业基础类<small> 选择适合您的题进行解答,完成后会获得相应的分值</small></h1>
			<table class="table table-hover">
				<thead>
				<tr style="background:#eff4f8;">
					<th class="project-status">
						分值
					</th>
					<th class="project-title">
						题目描述
					</th>
					<th class="project-actions">
						操作
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="project-status">
						<span>15</span>
					</td>
					<td class="project-title">
						<b>设计包含min函数的栈</b>
						<br />
						<small>定义栈的数据结构，要求添加一个min函数，能够得到栈的最小元素。 要求函数min、push以及pop的时间复杂度都是O(1)。</small>
					</td>
					<td class="project-actions">
						<a href="codemirror.html" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				<tr>
					<td class="project-status">
						<span>12</span>
					</td>
					<td class="project-title">
						<b>用一种算法来颠倒一个链接表的顺序</b>
						<br>
						<small>如果输入7、4、6、5，没有哪棵树的后序遍历的结果是这个序列，因此返回false</small>
					</td>
					<td class="project-actions">
						<a href="codemirror.html" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				<tr>
					<td class="project-status">
						<span>15</span>
					</td>
					<td class="project-title">
						<b>设计包含min函数的栈</b>
						<br />
						<small>定义栈的数据结构，要求添加一个min函数，能够得到栈的最小元素。 要求函数min、push以及pop的时间复杂度都是O(1)。</small>
					</td>
					<td class="project-actions">
						<a href="codemirror.html" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				<tr>
					<td class="project-status">
						<span>12</span>
					</td>
					<td class="project-title">
						<b>用一种算法来颠倒一个链接表的顺序</b>
						<br>
						<small>如果输入7、4、6、5，没有哪棵树的后序遍历的结果是这个序列，因此返回false</small>
					</td>
					<td class="project-actions">
						<a href="codemirror.html" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				<tr>
					<td class="project-status">
						<span>15</span>
					</td>
					<td class="project-title">
						<b>设计包含min函数的栈</b>
						<br />
						<small>定义栈的数据结构，要求添加一个min函数，能够得到栈的最小元素。 要求函数min、push以及pop的时间复杂度都是O(1)。</small>
					</td>
					<td class="project-actions">
						<a href="javascript:;" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				<tr>
					<td class="project-status">
						<span>12</span>
					</td>
					<td class="project-title">
						<b>用一种算法来颠倒一个链接表的顺序</b>
						<br>
						<small>如果输入7、4、6、5，没有哪棵树的后序遍历的结果是这个序列，因此返回false</small>
					</td>
					<td class="project-actions">
						<a href="javascript:;" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				<tr>
					<td class="project-status">
						<span>15</span>
					</td>
					<td class="project-title">
						<b>设计包含min函数的栈</b>
						<br />
						<small>定义栈的数据结构，要求添加一个min函数，能够得到栈的最小元素。 要求函数min、push以及pop的时间复杂度都是O(1)。</small>
					</td>
					<td class="project-actions">
						<a href="javascript:;" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				<tr>
					<td class="project-status">
						<span>12</span>
					</td>
					<td class="project-title">
						<b>用一种算法来颠倒一个链接表的顺序</b>
						<br>
						<small>如果输入7、4、6、5，没有哪棵树的后序遍历的结果是这个序列，因此返回false</small>
					</td>
					<td class="project-actions">
						<a href="javascript:;" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				<tr>
					<td class="project-status">
						<span>15</span>
					</td>
					<td class="project-title">
						<b>设计包含min函数的栈</b>
						<br />
						<small>定义栈的数据结构，要求添加一个min函数，能够得到栈的最小元素。 要求函数min、push以及pop的时间复杂度都是O(1)。</small>
					</td>
					<td class="project-actions">
						<a href="javascript:;" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				<tr>
					<td class="project-status">
						<span>12</span>
					</td>
					<td class="project-title">
						<b>用一种算法来颠倒一个链接表的顺序</b>
						<br>
						<small>如果输入7、4、6、5，没有哪棵树的后序遍历的结果是这个序列，因此返回false</small>
					</td>
					<td class="project-actions">
						<a href="javascript:;" class="btn btn-success m-r-5"><i class="fa fa-cogs"></i> 解 答</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- end #content -->

		<div class="header navbar navbar-inverse text-center lineHeight50" style="margin-top:20px; line-height:50px;">
			<span>copyright 123445</span>
		</div>
	</div>
</body>
</html>
<script>

